<div class="container">
  <div class="card login-form">
    <div class="card-body">
      <h3 class="card-title text-center">Contact Us</h3>
      <div class="card-text">
        <form [formGroup]="contactForm" (ngSubmit)="handleSubmit()">
          <div class="form-group">
            <label for="email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="name@example.com"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="f.email.errors?.email" class="invalid-feedback">
              Email is invalid.
            </div>
            <div *ngIf="f.email.errors?.required" class="invalid-feedback">
              Email is required.
            </div>
          </div>
          <div class="form-group">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input
              type="text"
              class="form-control"
              id="phoneNumber"
              formControlName="phoneNumber"
              [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"
            />
            <div *ngIf="f.phoneNumber.errors?.pattern" class="invalid-feedback">
              Phone number is invalid.
            </div>
            <div
              *ngIf="f.phoneNumber.errors?.required"
              class="invalid-feedback"
            >
              Phone number is required.
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <a href="#" class="btn btn-primary my-3" routerLink="/contactDataDisplay">
    Display contact data
  </a>
</div>
