<section class="container">
  <section class="row">
    <h1>
      List of Posts
      <span
        class="fa fa-plus-circle float-end"
        role="button"
        (click)="createPost()"
        title="Create new post"
      ></span>
    </h1>

    <div class="form-group">
      <input
        type="text"
        class="form-control mb-4"
        placeholder="Search"
        [(ngModel)]="query"
        id="listSearch"
      />
    </div>

    <section class="col-md-3" *ngFor="let post of posts | searchFilter: query">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.body }}</p>
          <a
            href="#"
            routerLink="/posts/post-details/{{ post.id }}"
            class="btn btn-primary"
            id="{{ post.id }}"
            [ngStyle]="{ 'background-color': 'red' }"
            >Explore</a
          >
        </div>
      </div>
    </section>
    <!-- <button class="btn btn-primary" (click)="stopClick()">Stop Click</button> -->
  </section>
</section>
