<div class="container">
  <div class="row">
    <div class="col-md-12 mb-3">
      <label for="receipeNumber" class="form-label">Recipe number</label>
      <input
        type="number"
        class="form-control"
        id="receipeNumber"
        #receipeNumber
      />
      <button class="btn btn-primary" (click)="onSubmit()">Show</button>
    </div>

    <div class="col-md-12">
      <img src="../../assets/images/recipe1.jpg" alt="recipe1" />
      <br />
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vulputate
        diam sit amet arcu condimentum, eget porta ex dapibus. Sed sit amet
        venenatis libero. Integer mattis accumsan urna in mollis. Integer
        ultrices justo porttitor maximus dignissim. Suspendisse sed leo dapibus,
        scelerisque odio sit amet, egestas massa. Proin a tellus ac enim gravida
        porta. Pellentesque ac tincidunt orci.
      </span>
    </div>
    <div class="col-md-12">
      <img src="../../assets/images/recipe2.jpg" alt="recipe2" />
      <br />
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vulputate
        diam sit amet arcu condimentum, eget porta ex dapibus. Sed sit amet
        venenatis libero. Integer mattis accumsan urna in mollis. Integer
        ultrices justo porttitor maximus dignissim. Suspendisse sed leo dapibus,
        scelerisque odio sit amet, egestas massa. Proin a tellus ac enim gravida
        porta. Pellentesque ac tincidunt orci.
      </span>
    </div>
    <div class="col-md-12">
      <img src="../../assets/images/recipe3.jpg" alt="recipe3" />
      <br />
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vulputate
        diam sit amet arcu condimentum, eget porta ex dapibus. Sed sit amet
        venenatis libero. Integer mattis accumsan urna in mollis. Integer
        ultrices justo porttitor maximus dignissim. Suspendisse sed leo dapibus,
        scelerisque odio sit amet, egestas massa. Proin a tellus ac enim gravida
        porta. Pellentesque ac tincidunt orci.
      </span>
    </div>
    <div class="col-md-12">
      <img src="../../assets/images/recipe4.jpg" alt="recipe4" />
      <br />
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vulputate
        diam sit amet arcu condimentum, eget porta ex dapibus. Sed sit amet
        venenatis libero. Integer mattis accumsan urna in mollis. Integer
        ultrices justo porttitor maximus dignissim. Suspendisse sed leo dapibus,
        scelerisque odio sit amet, egestas massa. Proin a tellus ac enim gravida
        porta. Pellentesque ac tincidunt orci.
      </span>
    </div>
    <div class="col-md-12">
      <img src="../../assets/images/recipe5.jpg" alt="recipe5" />
      <br />
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vulputate
        diam sit amet arcu condimentum, eget porta ex dapibus. Sed sit amet
        venenatis libero. Integer mattis accumsan urna in mollis. Integer
        ultrices justo porttitor maximus dignissim. Suspendisse sed leo dapibus,
        scelerisque odio sit amet, egestas massa. Proin a tellus ac enim gravida
        porta. Pellentesque ac tincidunt orci.
      </span>
    </div>
  </div>
</div>
